<section class="about-section section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
                <div class="services-info">
                    <h2 class="text-white mb-4"> Festava 2024 Hakkında</h2>

                    <p class="text-white">
                        Festava 2024, müzik ve eğlencenin doruk noktasına ulaştığı, yılın en çok beklenen etkinliklerinden biridir.
                        Bu muhteşem festival, 2024 yılında, dünyanın dört bir yanından gelen katılımcılarla büyük bir coşku içinde kutlanacak.
                        Festava 2024, çeşitli müzik türleri, inanılmaz sahne performansları ve unutulmaz anılarla dolu bir deneyim sunacak.
                    </p>

                    <h6 class="text-white mt-4">Hayatta Bir Kez Yaşanacak Deneyim</h6>

                    <p class="text-white">
                        Festava 2024, tüm gece sürecek partiler, özel etkinlikler ve sürprizlerle dolu.
                        Katılımcılar, birbirinden ünlü sanatçıların canlı performanslarının tadını çıkaracak ve yeni arkadaşlıklar kurma fırsatı bulacaklar.
                        Bu festival, müzikseverler için kaçırılmayacak bir deneyim sunuyor.
                    </p>

                    <h6 class="text-white mt-4">Festava 2024: Yılın En Büyük Müzik ve Eğlence Festivali İçin Hazır Mısınız?</h6>

                    <p class="text-white"> Haydi, siz de Festava 2024'te yerinizi alın ve bu eşsiz müzik ve eğlence deneyiminin bir parçası olun!</p>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="about-text-wrap">
                    <img src="~/Templates/FestavaLive-1.0.0/images/pexels-alexander-suhorucov-6457579.jpg" class="about-image img-fluid">

                    <div class="about-text-info d-flex">
                        <div class="d-flex">
                            <i class="about-text-icon bi-person"></i>
                        </div>


                        <div class="ms-4">
                            <h3>Mutlu bir an için</h3>

                            <p class="mb-0">Bizimle Bu Muhteşem eğlenceye katılmaya var mısınız?</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
