<section class="schedule-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h1 class="text-white mb-4">
                    Etkinlik Takvimi</h1>

                    <div class="table-responsive">
                        <table class="schedule-table table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Tarih</th>

                                    <th scope="col">Çarşamba</th>

                                    <th scope="col">Perşembe</th>

                                    <th scope="col">Cuma</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th scope="row">Gün 1</th>

                                    <td class="table-background-image-wrap pop-background-image">
                                        <h3>Pop Gecesi</h3>

                                        <p class="mb-2">20:00 - 00:00</p>

                                        <p>Bu Harika Pop gecesinde eğlenmeye hazır mısınız?</p>

                                        <div class="section-overlay"></div>
                                    </td>

                                    <td style="background-color: #F3DCD4"></td>

                                    <td class="table-background-image-wrap rock-background-image">
                                        <h3>Rock Gecesi</h3>

                                        <p class="mb-2">21:00 - 01:00 </p>

                                        <p>Deliler gibi çıldırmaya hazır mısınız?</p>

                                        <div class="section-overlay"></div>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">Gün 2</th>

                                    <td style="background-color: #ECC9C7"></td>

                                    <td>
                                        <h3>DJ Gecesi</h3>

                                        <p class="mb-2">18:30 - 22:30 </p>

                                        <p>Müziğin Tadını Çıkarın :)</p>
                                    </td>

                                    <td style="background-color: #D9E3DA"></td>
                                </tr>

                                <tr>
                                    <th scope="row">Gün 3</th>

                                    <td class="table-background-image-wrap country-background-image">
                                        <h3>Halk Müziği</h3>

                                        <p class="mb-2">16:30 - 19:30 </p>

                                        <p>Birbirinden değerli sanatçılarımızı dinlemeye ne dersiniz?</p>

                                        <div class="section-overlay"></div>
                                    </td>

                                    <td style="background-color: #D1CFC0"></td>

                                    <td>
                                        <h3>Söyleşi Saati</h3>

                                        <p class="mb-2">20:00 - 23:00 </p>

                                        <p>Değerli Konuklarımızın hayattan bilgilerini dinlemeye değer.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</section>
